@import url("http://fonts.googleapis.com/css?family=Cantarell:r,b,i|Old+Standard+TT:r,b,i|Anonymous+Pro:r,b,i");
@import url("basic.css");

body
{ font-family: 'Cantarell', 'sans-serif';
  color: #404040;
}

h1, h2, h3, h4, h5, h6
{ font-family: 'Old Standard TT', 'serif';
  font-weight: normal;
  font-style: italic;
  color: #a6194d;
  margin-top: 2em;
}

pre, tt, tt.descname
{ font-family: 'Anonymous Pro', 'monospace';
  font-size: 90%;
}

pre, div.admonition
{ margin: 1em -40px;
  padding: 1em 40px;
}

pre
{ background: #E8FFE0;
}

a
{ color: #8262bf;
}

h3 a
{ color: #a6194d;
}

div.sphinxsidebar input
{ border: 1px solid #000;
}

div.admonition.warning
{ background: #ffbfc8;
}

div.admonition.note
{ background: #f2ffc4;
}

div.admonition p.admonition-title
{ display: none;
}

div.document
{ margin: 0 auto;
  width: 950px;
  position: relative;
}

div.body
{ width: 650px;
  margin-right: 250px;
  margin-bottom: 100px;
}

div.body p
{ text-align: justify;
}

div.body ul
{ list-style-type: circle;
}

div.sphinxsidebar
{ position: absolute;
  right: 0;
}

div.sphinxsidebarwrapper
{ position: fixed;
  width: 250px;
  top: 2em;
  bottom: 0;
  overflow: auto;
}

div.sphinxsidebar a, a.headerlink, div.toctree-wrapper a, a.viewcode-link
{ text-decoration: none;
}

div.sphinxsidebar a.current
{ font-weight: bold;
}

a.viewcode-link
{ color: #bbb;
}

div.sphinxsidebar ul
{ padding-left: 0;
}

div.dictionary-entry dl
{ text-align: center;
  font-family: 'Old Standard TT', 'serif';
}

div.dictionary-entry dd
{ font-style: italic;
}

div.small-caps
{ font-variant: small-caps;
}

div.section > dl
{ padding-top: 2em;
}

div.section h2 + dl
{ padding-top: inherit;
}

dt:target, .highlighted
{ background: #f2ffc4;
}

dt:target
{ margin-left: -10px;
  margin-right: -40px;
  padding-left: 10px;
  padding-right: 40px;
}
